ul {
    margin-left: 500px;
    list-style: none;
    display: flex;
    justify-content: flex-end;
}
a {
    font-family: "Work Sans", "Arial Black", sans-serif;
    text-decoration: none;
    color: dimgray;
}

nav {
    border-bottom-style: solid;
    border-bottom-color: black;
    border-bottom-width: 1px ;
}
a:hover {
    color: greenyellow;
}
ul li {
    margin-inline: 30px;
}
div {
    margin-top: 10px;
}
.container {
    display: flex;
    align-items: center;
    justify-content: center;
}
.container2 {
    width: 25%;
    display: grid;
    align-items: center;
    margin-inline-end: 100px;
}
.container3 {
    margin-inline: 100px;
    margin-bottom: 25px;
    display: grid;
    align-items: center;
}
.container4{
    border-radius: 10px;
    width: 260px;
    padding: 5px;
    margin: 10px;
    background-color: white;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.container5 {
    display: flex;
    align-items: center;
    padding-inline: 100px;
}